---
import NavBar from "./NavBar.astro";
import EEUUIcon from "../icons/EEUU";
import SpainIcon from "../icons/Spain";
---

<header class="max-w-[90%] flex">
  <div class="mx-auto text-center mb-8 lg:mb-16 flex justify-end items-center">
    <div class="p-2 m-5">
      <div class="flex">
        <div class="w-[20%] space-x-10 ">
          <button class="w-[20%]" ><SpainIcon/></button>
          <button class="w-[20%] "><EEUUIcon/></button>
        </div>
        <div class="w-[70%]">
          <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
            Sobre mi
          </h2>
        </div>
      </div>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400 text-left">
        ¡Hola! 👋 Soy Matías Tari, un apasionado desarrollador full-stack de 19
        años. Mi especialidad abarca JavaScript, React, Express.js, Node.js,
        PostgreSQL, CSS, Tailwind y diversas tecnologías más. <br><br> 🚀 Me gradué del
        bootcamp de SoyHenry y actualmente estoy realizando prácticas como full
        stack en una Startup llamada ProtolyLab. En mi experiencia en
        ProtolyLab, estoy inmerso en el aprendizaje de tecnologías innovadoras
        como Astro y NestJs, fortaleciendo así mis habilidades y conocimientos.
        <br><br> 💻 Mi compromiso se refleja en enfrentar nuevos desafíos
        de manera proactiva. ⏱️ Además, cuento con sólidas habilidades de
        gestión del tiempo y resolución de problemas, lo que me convierte en un
        colaborador clave para el equipo. Mi enfoque empático me permite
        entender las necesidades tanto de los clientes como de mis compañeros de
        equipo. <br><br> 💡 Siempre estoy ansioso por contribuir a cualquier proyecto o
        equipo, demostrando mi disposición constante para aprender y crecer en
        la industria de la tecnología. 🌱 ¡Conectémonos y creemos algo increíble
        juntos! 🎉
      </p>
    </div>
    <img
      class="w-[30%] h-[75%] rounded-full bg-gray-800"
      src="/public/MatiImageSinFondo.png"
      alt="MatiImage"
    />
  </div>
  <NavBar></NavBar>
  <!-- <Counter transition:persist client:visible /> -->
</header>
