---
import CardLaunch from "./CardLaunch.astro";
import { getLastesLaunches } from "../services/spacex.ts";

const launches = await getLastesLaunches();
console.log(launches);

---

<div class="grid gap-8">
  {
    launches.map((launch) => (
      <CardLaunch
        id={launch.id}
        url={launch.url}
        details={launch.description}
        title={launch.title}
      />
    ))
  }
</div>
